workflows/Agent/qrMxSVpxdOkA1RYh.json
{
  "active": false,
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "天气预报 Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "触发ChatAgent": {
      "main": [
        [
          {
            "node": "天气预报 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in Data table": {
      "ai_tool": [
        [
          {
            "node": "天气预报 Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek-V3.1": {
      "ai_languageModel": [
        [
          {
            "node": "天气预报 Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-29T09:18:57.047Z",
  "id": "qrMxSVpxdOkA1RYh",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "sub-WeatherAgent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"memoryKey\": \"key\",\n  \"content\": \"内容\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -432,
        -240
      ],
      "id": "c2c1bf49-1c3b-4c0a-8f67-a8a3efd76d5a",
      "name": "触发ChatAgent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        -16
      ],
      "id": "d6a5e48b-7cd2-40dc-8ad0-15c4d485f808",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nhmY1teQyjDTFTIP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# 天气预报 个人人工智能助手系统提示\n\n## 重要指南\n- 日期一定要正确,可能存在查询不到的情况\n- 默认位置为湖南省长沙市岳麓区\n- 记住当前的日期和时间：**今天是 {{ $now.format('cccc') }} 年 {{ $now.format('yyyy-MM-dd HH:mm') }}**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -152,
        -240
      ],
      "id": "9545b312-e00a-4591-8f12-573fc18647e5",
      "name": "天气预报 Agent"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ZiLYxPGILY5BHbkh",
          "mode": "list",
          "cachedResultName": "weather_day",
          "cachedResultUrl": "/projects/BeX3bor8ts20lbDK/datatables/ZiLYxPGILY5BHbkh"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `长沙岳麓区每日天气预报记录表,会记录历史的天气预报和未来几天的天气预报,**只记录长沙岳麓区**\n## 字段描述\n- fxDate 预报日期\n- sunrise 日出时间，在高纬度地区可能为空\n- sunset 日落时间，在高纬度地区可能为空\n- moonrise 当天月升时间，可能为空\n- moonset 当天月落时间，可能为空\n- moonPhase 月相名称\n- moonPhaseIcon 月相图标代码，另请参考天气图标项目\n- tempMax 预报当天最高温度\n- tempMin 预报当天最低温度\n- iconDay 预报白天天气状况的图标代码，另请参考天气图标项目\n- textDay 预报白天天气状况文字描述，包括阴晴雨雪等天气状态的描述\n- iconNight 预报夜间天气状况的图标代码，另请参考天气图标项目\n- textNight 预报晚间天气状况文字描述，包括阴晴雨雪等天气状态的描述\n- wind360Day 预报白天风向360角度\n- windDirDay 预报白天风向\n- windScaleDay 预报白天风力等级\n- windSpeedDay 预报白天风速，公里/小时\n- wind360Night 预报夜间风向360角度\n- windDirNight 预报夜间当天风向\n- windScaleNight 预报夜间风力等级\n- windSpeedNight 预报夜间风速，公里/小时\n- precip 预报当天总降水量，默认单位：毫米\n- uvIndex 紫外线强度指数\n- humidity 相对湿度，百分比数值\n- pressure 大气压强，默认单位：百帕\n- vis 能见度，默认单位：公里\n- cloud 云量，百分比数值。可能为空`, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        48,
        -16
      ],
      "id": "c81d2051-7bf7-4d5d-bccc-5d36cbdd86ee",
      "name": "Get row(s) in Data table"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-ai/DeepSeek-V3.1",
          "mode": "list",
          "cachedResultName": "deepseek-ai/DeepSeek-V3.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -208,
        -16
      ],
      "id": "8880df12-d7bd-4790-9a84-ad252dc5551d",
      "name": "DeepSeek-V3.1",
      "credentials": {
        "openAiApi": {
          "id": "f86xyna37dSYhxAZ",
          "name": "ModelScope OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "触发ChatAgent": [
      {
        "json": {
          "memoryKey": "key1",
          "content": "天气"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-29T09:18:57.071Z",
      "createdAt": "2025-09-29T09:18:57.071Z",
      "role": "workflow:owner",
      "workflowId": "qrMxSVpxdOkA1RYh",
      "projectId": "BeX3bor8ts20lbDK"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-09-29T09:18:52.410Z",
      "createdAt": "2025-09-29T09:18:52.410Z",
      "id": "qcCtjqIt2kHzTxCB",
      "name": "Agent"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-11T09:01:35.000Z",
  "versionId": "431cfb13-e74e-4edb-9d62-cdb0956a061b"
}