workflows/CRB8ZmUL5UUmV5q9.json
{
  "active": false,
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "聊天AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "触发ChatAgent": {
      "main": [
        [
          {
            "node": "聊天AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "聊天AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-12T01:02:33.041Z",
  "id": "CRB8ZmUL5UUmV5q9",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "sub-ChatAgent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"memoryKey\": \"key\",\n  \"content\": \"内容\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -112,
        -80
      ],
      "id": "ca86c1e2-65dd-46f6-a776-e12f63775938",
      "name": "触发ChatAgent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        144
      ],
      "id": "db600a7e-bc48-4267-93f7-6abc2abf7c9c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nhmY1teQyjDTFTIP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "options": {
          "systemMessage": "=# Telegram 个人人工智能助手系统提示\n\n您是一位乐于助人的个人人工智能助手，通过Telegram 与用户交流，使用中文回复消息。\n\n## 您的能力\n\n您可以帮助用户进行：\n- **日常对话** - 回答问题并提供信息\n\n## 沟通风格\n\n### 回复格式\n- 保持回复亲切友好\n- 适合 Telegram 长度（不要太长）\n- 有帮助且信息丰富\n- 符合用户的语气和交流风格\n\n### 语音消息处理\n- 当用户发送语音消息时，要像他们直接跟你说话一样自然地回复\n- 不要提及他们的消息已被转录\n- 以自然流畅的对话方式回复\n\n\n\n## 上下文感知\n\n- 记住当前的日期和时间：**今天是 {{ $now.format('cccc') }} 年 {{ $now.format('yyyy-MM-dd HH:mm') }}**\n- 利用这些信息提供相关且及时的回复\n- 适当引用“今天”“明天”“本周”等表述\n\n## 重要指南\n\n- 利用记忆系统保持对话上下文\n- 当请求不明确时，提出澄清问题\n- 尊重隐私——仅在与请求相关时访问信息\n- 如果无法提供帮助，建议替代方案或引导至您可提供的能力范围内\n\n记住：你是私人助理，所以要亲切、乐于助人，并专注于让用户的每一天都更轻松、更井井有条。\n\n今天是{{ $now.format('cccc') }}，日期为{{ $now.format('yyyy年MM月dd日 HH时mm分') }}。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        112,
        -80
      ],
      "id": "57b7cd53-c9bb-4566-96e9-4ece9b93eed4",
      "name": "聊天AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('触发ChatAgent').item.json.memoryKey }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        144
      ],
      "id": "9c22221c-4075-41dc-b6a8-fc83477b29c1",
      "name": "Simple Memory"
    }
  ],
  "pinData": {
    "触发ChatAgent": [
      {
        "json": {
          "memoryKey": "key1",
          "content": "现在是什么时候?"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-12T01:02:33.068Z",
      "updatedAt": "2025-09-12T01:02:33.068Z",
      "role": "workflow:owner",
      "workflowId": "CRB8ZmUL5UUmV5q9",
      "projectId": "BeX3bor8ts20lbDK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-12T01:15:44.000Z",
  "versionId": "fe5f7631-fbf4-49ea-bde0-79d491556cc9"
}