workflows/D7G7AhG09TUvHGAH.json
{
  "active": false,
  "connections": {
    "产生虚拟事件入口": {
      "main": [
        [
          {
            "node": "产生中枢虚拟事件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "产生中枢虚拟事件": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "成功-钉钉通知",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "失败-钉钉通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-27T07:49:58.439Z",
  "id": "D7G7AhG09TUvHGAH",
  "isArchived": false,
  "meta": null,
  "name": "产生虚拟事件",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"eventName\": \"事件名称\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        40
      ],
      "id": "35b87d87-1273-46f4-8a1f-979548373f88",
      "name": "产生虚拟事件入口"
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "notify",
        "service": "send_message",
        "serviceAttributes": {
          "attributes": [
            {
              "name": "entity_id",
              "value": "notify.xiaomi_cn_1079853347_hub1_emit_virtual_event_a_4_1"
            },
            {
              "name": "message",
              "value": "={{ $json.eventName }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        60,
        40
      ],
      "id": "97b42bd6-f47b-48a1-a970-fa3d6a4e5a1f",
      "name": "产生中枢虚拟事件",
      "alwaysOutputData": true,
      "credentials": {
        "homeAssistantApi": {
          "id": "6EZ5GmsOjYCFa9Qg",
          "name": "Home Assistant account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1950652f-7dc6-42d7-9fee-1e1594fd8b35",
              "leftValue": "={{ $json.attributes.friendly_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        40
      ],
      "id": "237ea04d-f3b0-4066-808e-199d6d529d06",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4tHTAEVO9ryUxOhn",
          "mode": "list",
          "cachedResultName": "钉钉通知"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "msgtype": "text",
            "content": "=事件名称: {{ $node[\"产生虚拟事件入口\"].json.eventName }}",
            "state": "成功",
            "name": "={{$workflow.name}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "msgtype",
              "displayName": "msgtype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        500,
        -60
      ],
      "id": "c2d7add4-5e5f-4f4a-96ca-74e22aa64e0b",
      "name": "成功-钉钉通知"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4tHTAEVO9ryUxOhn",
          "mode": "list",
          "cachedResultName": "钉钉通知"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "msgtype": "text",
            "content": "=事件名称: {{ $node[\"产生虚拟事件入口\"].json.eventName }}",
            "state": "失败",
            "name": "={{$workflow.name}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "msgtype",
              "displayName": "msgtype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        500,
        140
      ],
      "id": "34480ecc-bbc5-496d-8eec-8ab46cd4f697",
      "name": "失败-钉钉通知"
    }
  ],
  "pinData": {
    "产生虚拟事件入口": [
      {
        "json": {
          "eventName": "测试虚拟事件产生"
        }
      }
    ],
    "产生中枢虚拟事件": [
      {
        "json": {
          "entity_id": "notify.xiaomi_cn_1079853347_hub1_emit_virtual_event_a_4_1",
          "state": "2025-06-27T08:54:47.299125+00:00",
          "attributes": {
            "action params": "[事件名称(str)]",
            "friendly_name": "中枢网关  虚拟服务 产生虚拟事件",
            "supported_features": 0
          },
          "last_changed": "2025-06-27T08:54:47.299207+00:00",
          "last_reported": "2025-06-27T08:54:47.299207+00:00",
          "last_updated": "2025-06-27T08:54:47.299207+00:00",
          "context": {
            "id": "01JYR9HD82GS54JRCGRQH0S43W",
            "parent_id": null,
            "user_id": "f46016af97df41349e887d6ed2c22633"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Shanghai",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-01T09:30:37.000Z",
  "versionId": "91a41608-2855-4110-b522-1df692461ebc"
}