workflows/zInRhbWPXqADfBTi.json
{
  "active": false,
  "connections": {
    "顶顶推送模拟数据": {
      "main": [
        [
          {
            "node": "调用钉钉推送",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "Get many states",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-27T06:39:25.208Z",
  "id": "zInRhbWPXqADfBTi",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "test",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        -224
      ],
      "id": "8de8a0e1-d2cc-4332-996b-06af45a0eaca",
      "name": "顶顶推送模拟数据"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4tHTAEVO9ryUxOhn",
          "mode": "list",
          "cachedResultName": "钉钉通知"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "state": "={{ $json.state }}",
            "msgtype": "={{ $json.msgtype }}",
            "text": "={{ $json.text }}",
            "markdown": "={{ $json.markdown }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "msgtype",
              "displayName": "msgtype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "markdown",
              "displayName": "markdown",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        -224
      ],
      "id": "5a37eff3-e76f-42c0-beb9-477d7b2fa519",
      "name": "调用钉钉推送"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "D7G7AhG09TUvHGAH",
          "mode": "list",
          "cachedResultName": "产生虚拟事件"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "eventName": "测试虚拟事件产生"
          },
          "matchingColumns": [
            "eventName"
          ],
          "schema": [
            {
              "id": "eventName",
              "displayName": "eventName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        32,
        -48
      ],
      "id": "dd68b38e-b951-4d07-91d7-9654bcc1ee09",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.code }}",
        "value": "={{ $json.toJsonString() }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        32,
        160
      ],
      "id": "648d0b86-ecc4-4039-86a1-4df4844ea5ca",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "ChieJVyEK7H4OSmC",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.code }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        64,
        368
      ],
      "id": "74b2f217-2e5f-4f87-997e-57b1288ef902",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "ChieJVyEK7H4OSmC",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "test",
        "updateKey": "code",
        "fields": "code,name",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -48,
        544
      ],
      "id": "99e1932f-e3af-4451-bcaa-0b71ba6bc754",
      "name": "MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "uKpjr544WS3Oo6zh",
          "name": "MongoDB HomeHost"
        }
      }
    },
    {
      "parameters": {
        "resource": "state",
        "operation": "getAll",
        "returnAll": true
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        192,
        544
      ],
      "id": "9a7d248f-57d2-49ca-8b32-7a86cd568c50",
      "name": "Get many states",
      "credentials": {
        "homeAssistantApi": {
          "id": "6EZ5GmsOjYCFa9Qg",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4tHTAEVO9ryUxOhn",
          "mode": "list",
          "cachedResultName": "钉钉通知"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "![](https://quickchart.io/chart/render/zf-2b07d0a9-cdac-46da-967d-6face7147cb4)",
            "msgtype": "markdown",
            "title": "test"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "msgtype",
              "displayName": "msgtype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -208,
        736
      ],
      "id": "ccfeaa43-da2b-4f71-a3c5-10e11f6a9f7e",
      "name": "markdown-钉钉通知"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-exp-image-generation",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-exp-image-generation"
        },
        "prompt": "=根据下列json数据,生成折线图.X轴按\"时间\"显示为时分(例:09:06),除\"_id\",\"时间\",\"源数据\"其他字段为legend, 字段值为Y轴,为\"光照度\"单独设置单位'lux'.\n{{ $json.allData.toJsonString() }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -432,
        80
      ],
      "id": "eef1e905-6956-4565-8d2a-b4fa94b39fa0",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "nhmY1teQyjDTFTIP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "collection": "global_variables",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -880,
        80
      ],
      "id": "c688c0c8-1527-4fa7-9a59-384e3f10a30b",
      "name": "MongoDB1",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "Fzidi3QSrpr5jz68",
          "name": "MongoDB ClawCloud"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 获取输入数据\nconst items = $input.all();\n\nreturn [\n  {\n    json: {\n      allData: items.map(item => item.json)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        80
      ],
      "id": "e805f30a-048a-4720-b49d-303b5e3e011b",
      "name": "Code"
    },
    {
      "parameters": {
        "msgtype": "markdown",
        "title": "tetesn8n",
        "markdownText": "etser"
      },
      "type": "n8n-nodes-dingtalk.dingTalkRobot",
      "typeVersion": 1,
      "position": [
        -880,
        400
      ],
      "id": "d9873d89-9f23-43e5-b131-a7c415a7b504",
      "name": "钉钉机器人",
      "credentials": {
        "dingTalkCustomRobotApi": {
          "id": "ewEy0mraYFqwnuN2",
          "name": "DingTalk - Automation"
        }
      }
    }
  ],
  "pinData": {
    "顶顶推送模拟数据": [
      {
        "json": {
          "msgtype": "text",
          "text": {
            "content": "没有状态和名称的推送"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-30T08:53:39.000Z",
  "versionId": "b08547ae-df30-4a30-a344-4ddb36ec82d7"
}