workflows/zInRhbWPXqADfBTi.json
{
  "active": false,
  "connections": {
    "顶顶推送模拟数据": {
      "main": [
        [
          {
            "node": "调用钉钉推送",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "Get many states",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "模拟数据": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "markdown-钉钉通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "模拟数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-27T06:39:25.208Z",
  "id": "zInRhbWPXqADfBTi",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "test",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        -224
      ],
      "id": "8de8a0e1-d2cc-4332-996b-06af45a0eaca",
      "name": "顶顶推送模拟数据"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4tHTAEVO9ryUxOhn",
          "mode": "list",
          "cachedResultName": "钉钉通知"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "state": "={{ $json.state }}",
            "msgtype": "={{ $json.msgtype }}",
            "text": "={{ $json.text }}",
            "markdown": "={{ $json.markdown }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "msgtype",
              "displayName": "msgtype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "markdown",
              "displayName": "markdown",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -656,
        -224
      ],
      "id": "5a37eff3-e76f-42c0-beb9-477d7b2fa519",
      "name": "调用钉钉推送"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "D7G7AhG09TUvHGAH",
          "mode": "list",
          "cachedResultName": "产生虚拟事件"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "eventName": "测试虚拟事件产生"
          },
          "matchingColumns": [
            "eventName"
          ],
          "schema": [
            {
              "id": "eventName",
              "displayName": "eventName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -880,
        0
      ],
      "id": "dd68b38e-b951-4d07-91d7-9654bcc1ee09",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.code }}",
        "value": "={{ $json.toJsonString() }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -880,
        448
      ],
      "id": "648d0b86-ecc4-4039-86a1-4df4844ea5ca",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "ChieJVyEK7H4OSmC",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.code }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -880,
        672
      ],
      "id": "74b2f217-2e5f-4f87-997e-57b1288ef902",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "ChieJVyEK7H4OSmC",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "test",
        "updateKey": "code",
        "fields": "code,name",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -880,
        1120
      ],
      "id": "99e1932f-e3af-4451-bcaa-0b71ba6bc754",
      "name": "MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "Fzidi3QSrpr5jz68",
          "name": "MongoDB ClawCloud"
        }
      }
    },
    {
      "parameters": {
        "resource": "state",
        "operation": "getAll",
        "returnAll": true
      },
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        -656,
        1120
      ],
      "id": "9a7d248f-57d2-49ca-8b32-7a86cd568c50",
      "name": "Get many states",
      "credentials": {
        "homeAssistantApi": {
          "id": "6EZ5GmsOjYCFa9Qg",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4tHTAEVO9ryUxOhn",
          "mode": "list",
          "cachedResultName": "sub-钉钉通知"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "msgtype": "text",
            "title": "test",
            "content": "={{ $json.buffer.toString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "msgtype",
              "displayName": "msgtype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -464,
        1600
      ],
      "id": "ccfeaa43-da2b-4f71-a3c5-10e11f6a9f7e",
      "name": "markdown-钉钉通知"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-exp-image-generation",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-exp-image-generation"
        },
        "prompt": "=根据下列json数据,生成折线图.X轴按\"时间\"显示为时分(例:09:06),除\"_id\",\"时间\",\"源数据\"其他字段为legend, 字段值为Y轴,为\"光照度\"单独设置单位'lux'.\n{{ $json.allData.toJsonString() }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -432,
        224
      ],
      "id": "eef1e905-6956-4565-8d2a-b4fa94b39fa0",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "nhmY1teQyjDTFTIP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "collection": "global_variables",
        "options": {
          "limit": 10
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -880,
        224
      ],
      "id": "c688c0c8-1527-4fa7-9a59-384e3f10a30b",
      "name": "MongoDB1",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "Fzidi3QSrpr5jz68",
          "name": "MongoDB ClawCloud"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 获取输入数据\nconst items = $input.all();\n\nreturn [\n  {\n    json: {\n      allData: items.map(item => item.json)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        224
      ],
      "id": "e805f30a-048a-4720-b49d-303b5e3e011b",
      "name": "Code"
    },
    {
      "parameters": {
        "msgtype": "markdown",
        "title": "tetesn8n",
        "markdownText": "etser"
      },
      "type": "n8n-nodes-dingtalk.dingTalkRobot",
      "typeVersion": 1,
      "position": [
        -880,
        896
      ],
      "id": "d9873d89-9f23-43e5-b131-a7c415a7b504",
      "name": "钉钉机器人",
      "credentials": {
        "dingTalkCustomRobotApi": {
          "id": "ewEy0mraYFqwnuN2",
          "name": "DingTalk - Automation"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -912,
        1600
      ],
      "id": "846fa17d-bb8a-4611-a72f-6a6a27a0b923",
      "name": "模拟数据"
    },
    {
      "parameters": {
        "jsCode": "// 获取全局静态数据\nconst staticData = $getWorkflowStaticData('global');\n\nif (!staticData.buffer) {\n  staticData.buffer = [];\n  staticData.last = Date.now();\n}\nstaticData.buffer.push(staticData.buffer.length)\n\nif (staticData.buffer.length>5) {\n  staticData.buffer = null;\n}\n\nreturn [{json:staticData}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        1600
      ],
      "id": "738bcb39-2875-4d93-a5c6-a894adf74ee9",
      "name": "Code1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1120,
        1600
      ],
      "id": "11d3d680-c4b9-4d0b-9548-40b0688779ad",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "chartType": "line",
        "labelsMode": "array",
        "labelsArray": "[1,2,3,4,5]",
        "data": "[5,6,4,1,7]",
        "chartOptions": {},
        "datasetOptions": {}
      },
      "type": "n8n-nodes-base.quickChart",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "924c0a77-0cec-4060-8385-6dccb038eaf9",
      "name": "QuickChart"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "谷歌是谁的?"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        144,
        144
      ],
      "id": "f249b950-3779-49cd-b059-b5c0adc3861d",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "nhmY1teQyjDTFTIP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "43907800",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "picx-images-hosting",
          "mode": "list",
          "cachedResultName": "picx-images-hosting",
          "cachedResultUrl": "https://github.com/43907800/picx-images-hosting"
        },
        "filePath": "test/test.txt",
        "fileContent": "文件提交测试,的二次",
        "commitMessage": "test"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -144,
        656
      ],
      "id": "d3d5c897-ac88-4e58-9141-6a9bed6588da",
      "name": "Edit a file",
      "webhookId": "b0c9d976-2e4f-4a1b-96d3-eaf2f916b1bf",
      "credentials": {
        "githubApi": {
          "id": "5yXdJEEUwoR8TUQe",
          "name": "43907800 GitHub account"
        }
      }
    }
  ],
  "pinData": {
    "顶顶推送模拟数据": [
      {
        "json": {
          "msgtype": "text",
          "text": {
            "content": "没有状态和名称的推送"
          }
        }
      }
    ],
    "模拟数据": [
      {
        "json": {
          "msgtype": "text",
          "text": {
            "content": "没有状态和名称的推送"
          }
        }
      }
    ],
    "Code": [
      {
        "json": {
          "allData": [
            {
              "_id": "688b49e357d34c13cd673936",
              "平均光照度": 25,
              "光照度": 57.107647,
              "天亮": 1,
              "有人": 1,
              "睡眠": 0,
              "灯光数量": 0,
              "书房电脑": 0,
              "家电数量": 0,
              "时间": "2025-07-31 18:48:02",
              "源数据": "HA_全局变量-平均光照度: 25|光照度: 57.107647|天亮: 1|有人: 1|睡眠: 0|灯光数量: 0|书房电脑: 0|家电数量: 0"
            },
            {
              "_id": "688b49ed57d34c13cd673937",
              "平均光照度": 25,
              "光照度": 57.107647,
              "天亮": 1,
              "有人": 1,
              "睡眠": 0,
              "灯光数量": 0,
              "书房电脑": 0,
              "家电数量": 1,
              "时间": "2025-07-31 18:48:13",
              "源数据": "HA_全局变量-平均光照度: 25|光照度: 57.107647|天亮: 1|有人: 1|睡眠: 0|灯光数量: 0|书房电脑: 0|家电数量: 1"
            },
            {
              "_id": "688b4a4c57d34c13cd673938",
              "平均光照度": 23,
              "光照度": 57.107647,
              "天亮": 1,
              "有人": 0,
              "睡眠": 0,
              "灯光数量": 0,
              "书房电脑": 0,
              "家电数量": 1,
              "时间": "2025-07-31 18:49:47",
              "源数据": "HA_全局变量-平均光照度: 23|光照度: 57.107647|天亮: 1|有人: 0|睡眠: 0|灯光数量: 0|书房电脑: 0|家电数量: 1"
            },
            {
              "_id": "688b4b4757d34c13cd673939",
              "平均光照度": 18,
              "光照度": 42.814434,
              "天亮": 1,
              "有人": 1,
              "睡眠": 0,
              "灯光数量": 0,
              "书房电脑": 0,
              "家电数量": 1,
              "时间": "2025-07-31 18:53:58",
              "源数据": "HA_全局变量-平均光照度: 18|光照度: 42.814434|天亮: 1|有人: 1|睡眠: 0|灯光数量: 0|书房电脑: 0|家电数量: 1"
            },
            {
              "_id": "688b4c5157d34c13cd67393a",
              "平均光照度": 15,
              "光照度": 31.992367,
              "天亮": 1,
              "有人": 1,
              "睡眠": 0,
              "灯光数量": 0,
              "书房电脑": 1,
              "家电数量": 2,
              "时间": "2025-07-31 18:58:25",
              "源数据": "HA_全局变量-平均光照度: 15|光照度: 31.992367|天亮: 1|有人: 1|睡眠: 0|灯光数量: 0|书房电脑: 1|家电数量: 2"
            },
            {
              "_id": "688b519457d34c13cd67393b",
              "平均光照度": 17,
              "光照度": 11.822061,
              "天亮": 0,
              "有人": 1,
              "睡眠": 0,
              "灯光数量": 1,
              "书房电脑": 1,
              "家电数量": 3,
              "时间": "2025-07-31 19:20:51",
              "源数据": "HA_全局变量-平均光照度: 17|光照度: 11.822061|天亮: 0|有人: 1|睡眠: 0|灯光数量: 1|书房电脑: 1|家电数量: 3"
            },
            {
              "_id": "688b639357d34c13cd67393c",
              "平均光照度": 8,
              "光照度": 0.278117,
              "天亮": 0,
              "有人": 1,
              "睡眠": 0,
              "灯光数量": 1,
              "书房电脑": 1,
              "家电数量": 3,
              "时间": "2025-07-31 20:37:38",
              "源数据": "HA_全局变量-平均光照度: 8|光照度: 0.278117|天亮: 0|有人: 1|睡眠: 0|灯光数量: 1|书房电脑: 1|家电数量: 3"
            },
            {
              "_id": "688b65c357d34c13cd67393d",
              "平均光照度": 8,
              "光照度": 0.278117,
              "天亮": 0,
              "有人": 1,
              "睡眠": 0,
              "灯光数量": 3,
              "书房电脑": 1,
              "家电数量": 4,
              "时间": "2025-07-31 20:46:58",
              "源数据": "HA_全局变量-平均光照度: 8|光照度: 0.278117|天亮: 0|有人: 1|睡眠: 0|灯光数量: 3|书房电脑: 1|家电数量: 4"
            },
            {
              "_id": "688b661057d34c13cd67393e",
              "平均光照度": 33,
              "光照度": 0.278117,
              "天亮": 0,
              "有人": 1,
              "睡眠": 0,
              "灯光数量": 2,
              "书房电脑": 1,
              "家电数量": 4,
              "时间": "2025-07-31 20:48:16",
              "源数据": "HA_全局变量-平均光照度: 33|光照度: 0.278117|天亮: 0|有人: 1|睡眠: 0|灯光数量: 2|书房电脑: 1|家电数量: 4"
            },
            {
              "_id": "688b680357d34c13cd67393f",
              "平均光照度": 19,
              "光照度": 0.278117,
              "天亮": 0,
              "有人": 1,
              "睡眠": 0,
              "灯光数量": 3,
              "书房电脑": 1,
              "家电数量": 4,
              "时间": "2025-07-31 20:56:34",
              "源数据": "HA_全局变量-平均光照度: 19|光照度: 0.278117|天亮: 0|有人: 1|睡眠: 0|灯光数量: 3|书房电脑: 1|家电数量: 4"
            }
          ]
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "global": {
      "buffer": [
        0,
        1,
        2
      ],
      "last": 1753945465081
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-08T08:04:18.000Z",
  "versionId": "7b11c377-1865-4cec-a808-a0963a93a67f"
}