workflows/Common/vI7EThg6H9bW1f4v.json
{
  "active": false,
  "connections": {
    "字段选择": {
      "main": [
        [
          {
            "node": "钉钉通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "字段选择",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-01T03:26:37.906Z",
  "id": "vI7EThg6H9bW1f4v",
  "isArchived": false,
  "meta": null,
  "name": "error-错误处理",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4tHTAEVO9ryUxOhn",
          "mode": "list",
          "cachedResultName": "sub-钉钉通知"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "msgtype": "text",
            "content": "=名称: {{ $json.name }}\n错误信息: {{ $json.message }}",
            "title": "执行自动化",
            "name": "执行自动化",
            "state": "失败"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "msgtype",
              "displayName": "msgtype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        224,
        -32
      ],
      "id": "e0e0dd33-ebd8-4ff3-b897-259f1007481e",
      "name": "钉钉通知"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f189db66-f486-4f64-bfb8-a7d7b446cb54",
              "name": "name",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            },
            {
              "id": "584def76-049d-4939-9754-2d61cb7fe905",
              "name": "message",
              "value": "={{ $json.execution.error.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -32
      ],
      "id": "22cc3a1d-54c1-4358-b048-2cd39cf54fa0",
      "name": "字段选择"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        -32
      ],
      "id": "9ead2936-0224-49b5-be8b-fcbef8a8012f",
      "name": "Error Trigger"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-01T03:26:37.930Z",
      "createdAt": "2025-09-01T03:26:37.930Z",
      "role": "workflow:owner",
      "workflowId": "vI7EThg6H9bW1f4v",
      "projectId": "BeX3bor8ts20lbDK"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-07-11T03:55:43.484Z",
      "createdAt": "2025-07-11T02:54:27.831Z",
      "id": "JqrpOsXNCY5fMnlD",
      "name": "Common"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-30T07:23:11.000Z",
  "versionId": "fd92ddca-ba57-4248-91c8-f27c21e56af6"
}