workflows/VPN/wb8xw9DpTbo4bFwf.json
{
  "active": false,
  "connections": {
    "获取README.md": {
      "main": [
        [
          {
            "node": "提取yml源链接",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crossxx_clash": {
      "main": [
        [
          {
            "node": "获取README.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取yml源链接": {
      "main": [
        [
          {
            "node": "获取yml配置文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取yml配置文件": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-10-14T06:00:41.615Z",
  "id": "wb8xw9DpTbo4bFwf",
  "isArchived": false,
  "meta": null,
  "name": "crossxx-clash",
  "nodes": [
    {
      "parameters": {
        "url": "https://cdn.jsdelivr.net/gh/crossxx-labs/free-proxy@main/README.md",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "6a98cea5-6922-4a95-a2c6-4e938546297d",
      "name": "获取README.md"
    },
    {
      "parameters": {
        "path": "crossxx_clash",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        0
      ],
      "id": "5618407e-0f37-4ab8-a8e0-49b0bf0115a9",
      "name": "crossxx_clash",
      "webhookId": "3572e004-9f59-450b-8655-805dd1718a19"
    },
    {
      "parameters": {
        "url": "={{ $json[($('crossxx_clash').item.json?.query?.type ||'vmess')] }}  ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        0
      ],
      "id": "7f66adce-e477-47e8-9de8-0915b97a9dec",
      "name": "获取yml配置文件"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  // 定义正则表达式，匹配每一行数据\n  const regex = /免费\\s+([A-Za-z0-9]+)\\s*\\|\\s*`([^`]+)`/g;\n  const rawText = item.json.data\n  // 存储结果的对象\n  const result = {};\n\n  let match;\n  while ((match = regex.exec(rawText)) !== null) {\n    const type = match[1].trim();        \n    // 类型：SSR, VMess, Hysteria2  \n    const url = match[2].trim();         \n    // URL\n    result[type.toLowerCase()] = url;\n  }\n  item.json = {...result}\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "ee9a900c-4415-4db1-8303-cd68434df9ec",
      "name": "提取yml源链接"
    }
  ],
  "pinData": {
    "crossxx_clash": [
      {
        "json": {
          "headers": {
            "host": "n8n.yinn.eu.org",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36 Edg/141.0.0.0",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "accept-encoding": "gzip, br",
            "accept-language": "zh-CN,zh;q=0.9",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "2408:8252:440:e41b:4843:745e:1188:908b",
            "cf-ipcountry": "CN",
            "cf-ray": "98e4f4d7cf4d0fb6-LAX",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "865e442f-8b25-4355-8944-dcae794439f7",
            "connection": "keep-alive",
            "priority": "u=0, i",
            "sec-ch-ua": "\"Microsoft Edge\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "document",
            "sec-fetch-mode": "navigate",
            "sec-fetch-site": "none",
            "sec-fetch-user": "?1",
            "upgrade-insecure-requests": "1",
            "x-forwarded-for": "2408:8252:440:e41b:4843:745e:1188:908b",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {
            "type": "ssr"
          },
          "body": {},
          "webhookUrl": "https://n8n.yinn.eu.org/webhook-test/crossxx_clash",
          "executionMode": "test"
        }
      }
    ],
    "获取README.md": [
      {
        "json": {
          "data": "# Clash 免费订阅\n\n本仓库提供免费Clash服务器订阅。可用于 **Clash Meta 客户端** 或其他基于 Clash Meta 内核的代理工具进行访问谷歌、推特、facebook等海外平台的网络调试。请勿用于非法用途！\n\n\n### 免费订阅链接\n\n> 上一次更新时间：2025-10-14 16:00:04\n\n> 订阅过期时间：2025-10-14 20:00:04\n\n以下是可以使用的一些订阅链接：\n\n | 类型         | Clash 订阅 URL            | 过期及下次更新时间（utc+8） |\n| ------------ | ------------------- |----------------- |\n| 免费 SSR      | `https://clash.crossxx.com/sub/ssr/1760428804` | 2025-10-14 20:00:04 |\n| 免费 VMess    | `https://clash.crossxx.com/sub/vmess/1760428804`   | 2025-10-14 20:00:04 |\n| 免费 Hysteria2 | `https://clash.crossxx.com/sub/hysteria/1760428804`  | 2025-10-14 20:00:04 |\n\n\n> ⚠️ **注意**: 上述订阅 **每 4 小时过期**，过期后原订阅将无法使用。由于免费使用的用户太多，本站对每位用户(按IP) **每天仅提供4小时免费额度**（从您添加订阅至clash客户端开始使用时算起），过期后若需要继续使用，请隔天（UTC+4）再刷新此页面添加新订阅，或者请看下条。感谢理解！\n\n> ❤️推荐稳定高速老牌机场套餐低至0.2元/天：[倚天剑clash](https://a.aiguobit.com) 注册免费领取一天试用！\n\n> ✈️ 加入免费梯子网络代理交流群： [Telegram交流群](https://t.me/+jqOB0VU0yO41MzJl)\n\n\n## 客户端下载与使用教程\n\n> **请根据你的设备类型，选择下方对应的下载链接和教程，按步骤操作即可成功连接外网。**\n\n| 操作系统         | 客户端下载链接                                                                                                   | 图文教程                                                                                       |\n|------------------|----------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------|\n| **Windows**      | [intel 64位下载](https://github.com/clash-verge-rev/clash-verge-rev/releases/download/v2.3.1/Clash.Verge_2.3.1_x64-setup.exe)<br>[32位下载](https://github.com/clash-verge-rev/clash-verge-rev/releases/download/v1.7.7/Clash.Verge_1.7.7_x86-setup.exe) <br/> [arm64下载](https://github.com/clash-verge-rev/clash-verge-rev/releases/download/v2.3.1/Clash.Verge_2.3.1_arm64-setup.exe) | [Windows Clash 使用教程](https://dpnyems4gls27.cloudfront.net/windows.html) |\n| **macOS**        | [Intel芯片下载](https://github.com/clash-verge-rev/clash-verge-rev/releases/download/v2.3.1/Clash.Verge_2.3.1_x64.dmg)<br>[M芯片下载](https://github.com/clash-verge-rev/clash-verge-rev/releases/download/v2.3.1/Clash.Verge_2.3.1_aarch64.dmg) | [Mac Clash 使用教程](https://dpnyems4gls27.cloudfront.net/mac.html)                            |\n| **安卓(Android)**| [Clash Meta For Android下载](https://github.com/MetaCubeX/ClashMetaForAndroid/releases/download/v2.11.0/cmfa-2.11.0-meta-universal-release.apk) | [安卓 Clash 使用教程](https://dpnyems4gls27.cloudfront.net/android.html)                       |\n| **iPhone/iPad**  | [Karing](https://apps.apple.com/us/app/karing/id6472431552) <br/>[Shadowrocket](https://apps.apple.com/us/app/shadowrocket/id932747118) <br/>（需海外Apple ID）                                                        | > [iOS Clash/Karing 使用教程](https://dpnyems4gls27.cloudfront.net/ios.html)  <br/> > [Shadowrocket教程](https://do2caruec6nwa.cloudfront.net/2024/10/30/shadowrocket-import-clash-subscription/)                   |\n\n---\n\n\n### FAQ\n- [Windows7启动clash-verge-rev 后显示无法找到入口，怎么解决](https://do2caruec6nwa.cloudfront.net/2024/10/30/win7-clash-verge-error-coincrementmtausage-ole32.dll/)\n- [其他clash教程问题汇总](https://do2caruec6nwa.cloudfront.net/)\n\n\n## 重要提示：处理过期的代理\n\n当此页面提供的免费Clahs订阅停止工作时：\n1. 从您的 Clash 客户端中 **删除旧的订阅**。\n2. **返回[此页面]( https://github.com/crossxx-labs/free-proxy)** 并 **复制新的订阅** 链接。\n3. 将新链接粘贴到 Clash 客户端并更新您的配置。\n\n\n### 参考链接\n\n- [Clash verge rev 文档](https://clash-verge-rev.github.io/faq/windows.html)\n- [Clash meta GitHub 仓库](https://github.com/MetaCubeX/mihomo)\n\n\n### 免责声明\n- 本程序仅供学习了解, 非盈利目的，请于下载后 24 小时内删除, 不得用作任何商业用途, 文字、数据及图片均有所属版权, 如转载须注明来源。\n- 使用本程序必循遵守部署免责声明。使用本程序必循遵守部署服务器所在地、所在国家和用户所在国家的法律法规, 程序作者不对使用者任何不当行为负责。\n\n---\n\n享受使用 Clash 的体验吧！\n\nLast updated at 2025-10-14 16:00:04 UTC+8, next update schedule at 2025-10-14 20:00:04 UTC+8\n"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-14T06:00:41.635Z",
      "updatedAt": "2025-10-14T06:00:41.635Z",
      "role": "workflow:owner",
      "workflowId": "wb8xw9DpTbo4bFwf",
      "projectId": "BeX3bor8ts20lbDK"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-14T03:50:20.503Z",
      "updatedAt": "2025-10-14T03:50:20.503Z",
      "id": "Y3IhKS5IWaXWFYKW",
      "name": "VPN"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-14T10:36:38.000Z",
  "versionId": "015decac-d241-434d-8841-4358ff92d20f"
}