workflows/VPN/wb8xw9DpTbo4bFwf.json
{
  "active": false,
  "connections": {
    "获取README.md": {
      "main": [
        [
          {
            "node": "提取yml源链接",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crossxx_clash": {
      "main": [
        [
          {
            "node": "获取README.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取yml源链接": {
      "main": [
        [
          {
            "node": "获取yml配置文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取yml配置文件": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-10-14T06:00:41.615Z",
  "id": "wb8xw9DpTbo4bFwf",
  "isArchived": false,
  "meta": null,
  "name": "crossxx-clash",
  "nodes": [
    {
      "parameters": {
        "url": "https://cdn.jsdelivr.net/gh/crossxx-labs/free-proxy@main/README.md",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "6a98cea5-6922-4a95-a2c6-4e938546297d",
      "name": "获取README.md"
    },
    {
      "parameters": {
        "path": "crossxx_clash",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        0
      ],
      "id": "5618407e-0f37-4ab8-a8e0-49b0bf0115a9",
      "name": "crossxx_clash",
      "webhookId": "3572e004-9f59-450b-8655-805dd1718a19"
    },
    {
      "parameters": {
        "url": "={{ $json[($('crossxx_clash').item.json?.query?.type ||'vmess')] }}  ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        0
      ],
      "id": "7f66adce-e477-47e8-9de8-0915b97a9dec",
      "name": "获取yml配置文件"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  // 定义正则表达式，匹配每一行数据\n  const regex = /免费\\s+([A-Za-z0-9]+)\\s*\\|\\s*`([^`]+)`/g;\n  const rawText = item.json.data\n  // 存储结果的对象\n  const result = {};\n\n  let match;\n  while ((match = regex.exec(rawText)) !== null) {\n    const type = match[1].trim();        \n    // 类型：SSR, VMess, Hysteria2  \n    const url = match[2].trim();         \n    // URL\n    result[type.toLowerCase()] = url;\n  }\n  item.json = {...result}\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "ee9a900c-4415-4db1-8303-cd68434df9ec",
      "name": "提取yml源链接"
    }
  ],
  "pinData": {
    "crossxx_clash": [
      {
        "json": {
          "headers": {
            "host": "n8n.yinn.eu.org",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36 Edg/141.0.0.0",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "accept-encoding": "gzip, br",
            "accept-language": "zh-CN,zh;q=0.9",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "2408:8252:440:e41b:4843:745e:1188:908b",
            "cf-ipcountry": "CN",
            "cf-ray": "98e4f4d7cf4d0fb6-LAX",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "865e442f-8b25-4355-8944-dcae794439f7",
            "connection": "keep-alive",
            "priority": "u=0, i",
            "sec-ch-ua": "\"Microsoft Edge\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "document",
            "sec-fetch-mode": "navigate",
            "sec-fetch-site": "none",
            "sec-fetch-user": "?1",
            "upgrade-insecure-requests": "1",
            "x-forwarded-for": "2408:8252:440:e41b:4843:745e:1188:908b",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {
            "type": "ssr"
          },
          "body": {},
          "webhookUrl": "https://n8n.yinn.eu.org/webhook-test/crossxx_clash",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-14T06:00:41.635Z",
      "updatedAt": "2025-10-14T06:00:41.635Z",
      "role": "workflow:owner",
      "workflowId": "wb8xw9DpTbo4bFwf",
      "projectId": "BeX3bor8ts20lbDK"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-14T03:50:20.503Z",
      "updatedAt": "2025-10-14T03:50:20.503Z",
      "id": "Y3IhKS5IWaXWFYKW",
      "name": "VPN"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-15T01:30:30.000Z",
  "versionId": "287636ec-7954-4e79-99a3-6c3d08325754"
}