workflows/HomeAssistant/am6WBhSgGwTBNlnB.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "功能判断": {
      "main": [
        [
          {
            "node": "sub-获取变量记录",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sub-HA日志-传感器图表",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sub-用电情况图表",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "sub-获取变量记录": {
      "main": [
        [
          {
            "node": "发送变量记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sub-HA日志-传感器图表": {
      "main": [
        [
          {
            "node": "发送传感器图表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sub-用电情况图表": {
      "main": [
        [
          {
            "node": "发送用电情况图表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HA功能实现": {
      "main": [
        [
          {
            "node": "功能判断",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-10T02:08:02.150Z",
  "id": "am6WBhSgGwTBNlnB",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "sub-TG-HA功能实现",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data }}",
                    "rightValue": "HA_VariableRecord",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d36b2005-2f96-4531-990b-39df30d13827"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "10866b05-a9d4-4eb5-8fda-e892fc65171b",
                    "leftValue": "={{ $json.data }}",
                    "rightValue": "HA_ActivityRecord",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1e6a1c2a-1a46-4f9d-a49e-2af49e44f6db",
                    "leftValue": "={{ $json.data }}",
                    "rightValue": "HA_SgccRecord",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -400,
        -96
      ],
      "id": "de904b0d-c17f-426f-b379-297319ac81d8",
      "name": "功能判断"
    },
    {
      "parameters": {
        "content": "## 功能\n- 0:变量记录\n- 1:活动记录\n- 2:用电情况\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -272
      ],
      "typeVersion": 1,
      "id": "263e9ccc-d06d-4e68-bca6-b88bf1e1e0b3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hiKqDLmHfIuhlTZF",
          "mode": "list",
          "cachedResultName": "sub-获取变量记录"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "size": 5
          },
          "matchingColumns": [
            "size"
          ],
          "schema": [
            {
              "id": "size",
              "displayName": "size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -176,
        -272
      ],
      "id": "ac1de2b7-fa24-42b9-85d5-5d1445c87ef9",
      "name": "sub-获取变量记录"
    },
    {
      "parameters": {
        "chatId": "={{ $('HA功能实现').item.json.chat_id }}",
        "text": "={{ $json.listMd }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        -272
      ],
      "id": "57ed6a81-dd31-4c62-bacc-f0e67c660886",
      "name": "发送变量记录",
      "webhookId": "0d534946-cc2f-42b3-9ba7-0fbb533d7363",
      "credentials": {
        "telegramApi": {
          "id": "HUakjpqref6diiOf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rzClIyBxaeUymqiE",
          "mode": "list",
          "cachedResultName": "sub-HA日志-传感器图表"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -176,
        -80
      ],
      "id": "0bda280c-91ca-4372-8f52-3ad71da12684",
      "name": "sub-HA日志-传感器图表"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('HA功能实现').item.json.chat_id }}",
        "file": "={{ $json.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        -80
      ],
      "id": "23804d71-219c-4b14-862e-7a5b208897bd",
      "name": "发送传感器图表",
      "webhookId": "e556bc1e-a8b9-4f77-98c2-d90016f6790e",
      "credentials": {
        "telegramApi": {
          "id": "HUakjpqref6diiOf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('HA功能实现').item.json.chat_id }}",
        "file": "={{ $json.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        112
      ],
      "id": "f6640d7c-ed30-4fd5-bcab-b02adb7113a1",
      "name": "发送用电情况图表",
      "webhookId": "e556bc1e-a8b9-4f77-98c2-d90016f6790e",
      "credentials": {
        "telegramApi": {
          "id": "HUakjpqref6diiOf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "iT9mP6160h6LOjwb",
          "mode": "list",
          "cachedResultName": "sub-用电情况图表"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -176,
        112
      ],
      "id": "c05d0a4c-7e91-477b-950e-ff4cf8ca4608",
      "name": "sub-用电情况图表"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"chat_id\": \"8234794436\",\n  \"message_id\": \"7\",\n  \"text\": \"Ha功能菜单\",\n  \"data\": \"HA_VariableRecord\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -624,
        -80
      ],
      "id": "5d340705-b207-4627-97d5-f33426f63101",
      "name": "HA功能实现"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "vI7EThg6H9bW1f4v"
  },
  "shared": [
    {
      "updatedAt": "2025-09-10T02:08:02.174Z",
      "createdAt": "2025-09-10T02:08:02.174Z",
      "role": "workflow:owner",
      "workflowId": "am6WBhSgGwTBNlnB",
      "projectId": "BeX3bor8ts20lbDK"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-09-10T02:08:30.393Z",
      "createdAt": "2025-06-26T06:14:33.448Z",
      "id": "FHV017iDd8qf8jAL",
      "name": "HomeAssistant"
    },
    {
      "updatedAt": "2025-09-10T01:51:26.908Z",
      "createdAt": "2025-09-10T01:51:26.908Z",
      "id": "sbaHeFsQikO6Iirc",
      "name": "Telegram"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-10T06:05:42.000Z",
  "versionId": "b818cddb-9fbd-4c3a-bd99-2ee373cdf932"
}