workflows/HomeAssistant/eBnmDC2c5uDSHWTb.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "监听HA所有事件": {
      "main": [
        [
          {
            "node": "处理事件名称状态等",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理事件名称状态等": {
      "main": [
        [
          {
            "node": "时间格式",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "时间格式": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Pg Upsert HA实体状态",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-01T02:53:47.816Z",
  "id": "eBnmDC2c5uDSHWTb",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "HA全部事件记录",
  "nodes": [
    {
      "parameters": {
        "eventType": "any"
      },
      "type": "n8n-nodes-home-assistant-websocket.homeAssistantTrigger",
      "typeVersion": 1,
      "position": [
        0,
        64
      ],
      "id": "b7407517-1a06-47f1-984c-14158fe417f9",
      "name": "监听HA所有事件",
      "credentials": {
        "homeAssistantWebSocketApi": {
          "id": "7wjNw4sXPpob9vXk",
          "name": "Home Assistant WebSocket account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const data = item.json.data;\n  const createTime = item.json.timestamp;\n  let friendly_name = data.new_state?.attributes?.friendly_name;\n  // 处理名称\n  // 名称中空格制表符处理\n  friendly_name = friendly_name.replace(/\\s+/g, ' ');\n  let nameArr = friendly_name.split(\" \");\n  // 设备名称\n  let device_name = nameArr[0] || null;\n  // 类型\n  let device_type = nameArr[1] || null;\n  // 事件\n  let device_event = nameArr[2] || null;\n  \n  let result = {\n    createTime,\n    friendly_name,\n    device_name,\n    device_type,\n    device_event,\n    entity_id : data.entity_id,\n    old_state: data.old_state?.state,\n    new_state: data.new_state?.state,\n    source_json: JSON.stringify(item.json)\n  }\n  \n  return { json: result };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        64
      ],
      "id": "c697feaf-6af2-4745-9ba3-1841a7487d09",
      "name": "处理事件名称状态等",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.createTime }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "createTime",
        "options": {
          "includeInputFields": true,
          "timezone": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        448,
        64
      ],
      "id": "79afb415-75ca-45ca-b932-82234c4f3f76",
      "name": "时间格式"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8f397165-b078-45b4-b2ef-87baa3f69e4f",
              "leftValue": "={{ $json.entity_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        64
      ],
      "id": "5e771c8f-b40e-4939-bc29-a42dce1fb563",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## HA实体状态表字段\n- createTime\t创建时间\n- friendly_name\t设备/类型/事件\n- device_name\t设备名称\n- device_type\t类型\n- device_event\t事件名称\n- entity_id\t\t实体id\n- old_state\t\t上次状态\n- new_state\t\t最新状态",
        "height": 256,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        -240
      ],
      "typeVersion": 1,
      "id": "79a33961-3528-4b54-b07f-3f62e0ec84ce",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ha_entity_current_state",
          "mode": "list",
          "cachedResultName": "ha_entity_current_state"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "entity_id": "={{ $json.entity_id }}",
            "createtime": "={{ $json.createTime }}",
            "friendly_name": "={{ $json.friendly_name }}",
            "device_name": "={{ $json.device_name }}",
            "device_type": "={{ $json.device_type }}",
            "device_event": "={{ $json.device_event }}",
            "old_state": "={{ $json.old_state }}",
            "new_state": "={{ $json.new_state }}"
          },
          "matchingColumns": [
            "entity_id"
          ],
          "schema": [
            {
              "id": "createtime",
              "displayName": "createtime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "friendly_name",
              "displayName": "friendly_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "device_name",
              "displayName": "device_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "device_type",
              "displayName": "device_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "device_event",
              "displayName": "device_event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "entity_id",
              "displayName": "entity_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "old_state",
              "displayName": "old_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "new_state",
              "displayName": "new_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "connectionTimeout": 5,
          "delayClosingIdleConnection": 300,
          "outputColumns": [
            "*"
          ],
          "replaceEmptyStrings": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        64
      ],
      "id": "1cd80a01-79e8-483d-9053-68e3d1f324fe",
      "name": "Pg Upsert HA实体状态",
      "credentials": {
        "postgres": {
          "id": "MMYWT59U3jvwqtaH",
          "name": "Supabase Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "监听HA所有事件": [
      {
        "json": {
          "event_type": "state_changed",
          "data": {
            "entity_id": "switch.topwit_cn_1083215870_rzw45_on_p_3_1",
            "old_state": {
              "entity_id": "switch.topwit_cn_1083215870_rzw45_on_p_3_1",
              "state": "off",
              "attributes": {
                "device_class": "switch",
                "friendly_name": "走廊开关2  射灯 中键"
              },
              "last_changed": "2025-06-27T14:46:54.580934+00:00",
              "last_reported": "2025-06-27T14:46:55.581517+00:00",
              "last_updated": "2025-06-27T14:46:54.580934+00:00",
              "context": {
                "id": "01JYRXP5BM5RQEZ4BYT360Y2V4",
                "parent_id": null,
                "user_id": null
              }
            },
            "new_state": {
              "entity_id": "switch.topwit_cn_1083215870_rzw45_on_p_3_1",
              "state": "on",
              "attributes": {
                "device_class": "switch",
                "friendly_name": "走廊开关2  射灯 中键"
              },
              "last_changed": "2025-07-01T09:45:51.213748+00:00",
              "last_reported": "2025-07-01T09:45:51.213748+00:00",
              "last_updated": "2025-07-01T09:45:51.213748+00:00",
              "context": {
                "id": "01JZ2P1SBDZC6VY4W7YHPNDSVQ",
                "parent_id": null,
                "user_id": null
              }
            }
          },
          "origin": "LOCAL",
          "time_fired": "2025-07-01T09:45:51.213748+00:00",
          "context": {
            "id": "01JZ2P1SBDZC6VY4W7YHPNDSVQ",
            "parent_id": null,
            "user_id": null
          },
          "timestamp": "2025-07-01T09:45:51.222Z"
        }
      }
    ],
    "处理事件名称状态等": [
      {
        "json": {
          "createTime": "2025-07-01T09:45:51.222Z",
          "friendly_name": "走廊开关2 射灯 中键",
          "device_name": "走廊开关2",
          "device_type": "射灯",
          "device_event": "中键",
          "entity_id": "switch.topwit_cn_1083215870_rzw45_on_p_3_1",
          "old_state": "off",
          "new_state": "on",
          "source_json": "{\"event_type\":\"state_changed\",\"data\":{\"entity_id\":\"switch.topwit_cn_1083215870_rzw45_on_p_3_1\",\"old_state\":{\"entity_id\":\"switch.topwit_cn_1083215870_rzw45_on_p_3_1\",\"state\":\"off\",\"attributes\":{\"device_class\":\"switch\",\"friendly_name\":\"走廊开关2  射灯 中键\"},\"last_changed\":\"2025-06-27T14:46:54.580934+00:00\",\"last_reported\":\"2025-06-27T14:46:55.581517+00:00\",\"last_updated\":\"2025-06-27T14:46:54.580934+00:00\",\"context\":{\"id\":\"01JYRXP5BM5RQEZ4BYT360Y2V4\",\"parent_id\":null,\"user_id\":null}},\"new_state\":{\"entity_id\":\"switch.topwit_cn_1083215870_rzw45_on_p_3_1\",\"state\":\"on\",\"attributes\":{\"device_class\":\"switch\",\"friendly_name\":\"走廊开关2  射灯 中键\"},\"last_changed\":\"2025-07-01T09:45:51.213748+00:00\",\"last_reported\":\"2025-07-01T09:45:51.213748+00:00\",\"last_updated\":\"2025-07-01T09:45:51.213748+00:00\",\"context\":{\"id\":\"01JZ2P1SBDZC6VY4W7YHPNDSVQ\",\"parent_id\":null,\"user_id\":null}}},\"origin\":\"LOCAL\",\"time_fired\":\"2025-07-01T09:45:51.213748+00:00\",\"context\":{\"id\":\"01JZ2P1SBDZC6VY4W7YHPNDSVQ\",\"parent_id\":null,\"user_id\":null},\"timestamp\":\"2025-07-01T09:45:51.222Z\"}"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Shanghai",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 10,
    "errorWorkflow": "vI7EThg6H9bW1f4v"
  },
  "shared": [
    {
      "updatedAt": "2025-07-01T02:53:47.837Z",
      "createdAt": "2025-07-01T02:53:47.837Z",
      "role": "workflow:owner",
      "workflowId": "eBnmDC2c5uDSHWTb",
      "projectId": "BeX3bor8ts20lbDK"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-09-10T02:08:30.393Z",
      "createdAt": "2025-06-26T06:14:33.448Z",
      "id": "FHV017iDd8qf8jAL",
      "name": "HomeAssistant"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-14T03:54:17.000Z",
  "versionId": "500a5e51-3fd2-4a15-951a-c96548fb625f"
}