workflows/HomeAssistant/iT9mP6160h6LOjwb.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "查询电网Sqlite": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "生成图标",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "用电量图表": {
      "main": [
        [
          {
            "node": "查询电网Sqlite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-10T03:03:52.391Z",
  "id": "iT9mP6160h6LOjwb",
  "isArchived": false,
  "meta": null,
  "name": "sub-用电情况图表",
  "nodes": [
    {
      "parameters": {
        "db_path": "/files/sgcc/sgcc_electricity.db",
        "query_type": "SELECT",
        "query": "SELECT * FROM daily4350001385378 ORDER BY date DESC LIMIT 7",
        "spread": true
      },
      "type": "n8n-nodes-sqlite3.sqliteNode",
      "typeVersion": 1,
      "position": [
        -64,
        0
      ],
      "id": "b9309bb9-8aa7-47e9-8211-292d28fe795b",
      "name": "查询电网Sqlite"
    },
    {
      "parameters": {
        "jsCode": "const labels = [];\nconst data = [];\n$input.all().reverse().forEach(item=>{\n  let label = item.json.date.substring(5);\n  labels.push(label);\n  data.push(item.json.usage);\n})\nlet title = labels[0] +' ~ '+ labels[labels.length-1] +' 用电情况'\nreturn [{json:{\n    \"width\": 600,\n    \"height\": 300,\n    // \"format\": \"base64\",\n    \"chart\":{\n      \"type\": \"bar\",\n      \"data\": {\n        \"labels\": labels,\n        \"datasets\": [\n          {\n            \"label\": title,\n            \"data\": data,\n            backgroundColor: 'rgba(54, 162, 235, 0.5)',\n            borderColor: 'rgb(54, 162, 235)',\n            borderWidth: 1\n          }\n        ]\n      },\n      options: {\n        plugins: {\n          \"roundedBars\": true ,\n          datalabels: {\n            anchor: 'center',\n            align: 'center',\n            color: '#666',\n            font: {\n              weight: 'normal',\n            },\n          },\n        },\n      },\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "id": "da3569ef-7fd5-468d-ab73-0d634c1e8686",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://quickchart.io/chart/create",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        0
      ],
      "id": "f7a30e48-ce67-45d9-b060-b16c2d0ebbef",
      "name": "生成图标"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -288,
        0
      ],
      "id": "d775e783-1ced-4280-be4a-2e9fac8d3f6f",
      "name": "用电量图表"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-10T03:03:52.414Z",
      "createdAt": "2025-09-10T03:03:52.414Z",
      "role": "workflow:owner",
      "workflowId": "iT9mP6160h6LOjwb",
      "projectId": "BeX3bor8ts20lbDK"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-09-10T02:08:30.393Z",
      "createdAt": "2025-06-26T06:14:33.448Z",
      "id": "FHV017iDd8qf8jAL",
      "name": "HomeAssistant"
    },
    {
      "updatedAt": "2025-07-11T03:55:43.484Z",
      "createdAt": "2025-07-11T02:54:27.831Z",
      "id": "JqrpOsXNCY5fMnlD",
      "name": "Common"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-10T03:08:53.000Z",
  "versionId": "c28ac90a-85ff-44e2-a086-e1c6e64040e9"
}