workflows/Tools/xthgDgVTyzikvbJJ.json
{
  "active": true,
  "connections": {
    "钉钉流式触发节点": {
      "main": [
        [
          {
            "node": "ChatAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatAgent": {
      "main": [
        [
          {
            "node": "Call 'sub-ToMarkdown'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'sub-ToMarkdown'": {
      "main": [
        [
          {
            "node": "sub-钉钉通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-12T05:53:23.237Z",
  "id": "xthgDgVTyzikvbJJ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Ding-消息接收",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-dingtalk-bby.dingTalkStreamTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        -64
      ],
      "id": "dac26748-705d-4b16-99f1-b2df456cf2bb",
      "name": "钉钉流式触发节点",
      "credentials": {
        "dingTalkBbyApi": {
          "id": "DPtbCz2WwH64pG2x",
          "name": "DingTalk account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CRB8ZmUL5UUmV5q9",
          "mode": "list",
          "cachedResultUrl": "/workflow/CRB8ZmUL5UUmV5q9",
          "cachedResultName": "sub-ChatAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $json.message.text.content }}",
            "memoryKey": "={{ $json.message.sessionWebhook }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "memoryKey",
              "displayName": "memoryKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -16,
        -64
      ],
      "id": "2262a4f8-4200-4371-bd5b-ca7f90b0e788",
      "name": "ChatAgent"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4tHTAEVO9ryUxOhn",
          "mode": "list",
          "cachedResultUrl": "/workflow/4tHTAEVO9ryUxOhn",
          "cachedResultName": "sub-钉钉通知"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "msgtype": "md",
            "sessionWebhook": "={{ $('钉钉流式触发节点').item.json.message.sessionWebhook }}",
            "content": "={{ $json.output }}",
            "title": "=Agent 回复",
            "name": "=Agent"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "msgtype",
              "displayName": "msgtype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionWebhook",
              "displayName": "sessionWebhook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        400,
        -64
      ],
      "id": "52089853-78f4-4e75-88ad-d6f14bc13eea",
      "name": "sub-钉钉通知"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oNaS3jyTERrDFwj3",
          "mode": "list",
          "cachedResultUrl": "/workflow/oNaS3jyTERrDFwj3",
          "cachedResultName": "sub-ToMarkdown"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "msg": "={{ $json.output }}"
          },
          "matchingColumns": [
            "msg"
          ],
          "schema": [
            {
              "id": "msg",
              "displayName": "msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        192,
        -64
      ],
      "id": "54b073e6-8500-4d77-8949-0fc2db5ef6d9",
      "name": "Call 'sub-ToMarkdown'"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "vI7EThg6H9bW1f4v"
  },
  "shared": [
    {
      "createdAt": "2025-09-12T05:53:23.255Z",
      "updatedAt": "2025-09-12T05:53:23.255Z",
      "role": "workflow:owner",
      "workflowId": "xthgDgVTyzikvbJJ",
      "projectId": "BeX3bor8ts20lbDK"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-30T03:40:06.462Z",
      "updatedAt": "2025-09-30T03:40:16.082Z",
      "id": "MfKj5X1TlV5axHZI",
      "name": "Tools"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-11T05:59:08.000Z",
  "versionId": "8f9d7c3e-0bdc-4286-bf70-9dc8c856cca4"
}