workflows/智能家居/eBnmDC2c5uDSHWTb.json
{
  "active": false,
  "connections": {
    "监听HA所有事件": {
      "main": [
        [
          {
            "node": "处理事件名称状态等",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理事件名称状态等": {
      "main": [
        [
          {
            "node": "时间格式",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "时间格式": {
      "main": [
        [
          {
            "node": "事件日志记录表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-01T02:53:47.816Z",
  "id": "eBnmDC2c5uDSHWTb",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "传感器记录",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4tHTAEVO9ryUxOhn",
          "mode": "list",
          "cachedResultName": "钉钉通知"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "msgtype": "text",
            "state": "通知",
            "content": "=实体id:{{ $json.data.entity_id }}\\\\n旧状态:{{ $json.data.old_state.attributes.friendly_name }} - {{ $json.data.old_state.state }}\\\\n新状态:{{ $json.data.new_state.attributes.friendly_name }} - {{ $json.data.new_state.state }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "msgtype",
              "displayName": "msgtype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        -220
      ],
      "id": "de2cd87c-e57f-4d64-aaf5-d65c7c899f1a",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "eventType": "any"
      },
      "type": "n8n-nodes-home-assistant-websocket.homeAssistantTrigger",
      "typeVersion": 1,
      "position": [
        0,
        40
      ],
      "id": "b7407517-1a06-47f1-984c-14158fe417f9",
      "name": "监听HA所有事件",
      "credentials": {
        "homeAssistantWebSocketApi": {
          "id": "7wjNw4sXPpob9vXk",
          "name": "Home Assistant WebSocket account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const data = item.json.data;\n  const createTime = item.json.timestamp;\n  let friendly_name = data.new_state?.attributes?.friendly_name;\n  // 处理名称\n  // 名称中空格制表符处理\n  friendly_name = friendly_name.replace(/\\s+/g, ' ');\n  let nameArr = friendly_name.split(\" \");\n  // 设备名称\n  let device_name = nameArr[0] || null;\n  // 类型\n  let device_type = nameArr[1] || null;\n  // 事件\n  let device_event = nameArr[2] || null;\n  \n  let result = {\n    createTime,\n    friendly_name,\n    device_name,\n    device_type,\n    device_event,\n    entity_id : data.entity_id,\n    old_state: data.old_state?.state,\n    new_state: data.new_state?.state,\n    source_json: JSON.stringify(item.json)\n  }\n  \n  return { json: result };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        40
      ],
      "id": "c697feaf-6af2-4745-9ba3-1841a7487d09",
      "name": "处理事件名称状态等",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "ha_event_logs",
        "fields": "entity_id,friendly_name,device_name,device_type,device_event,old_state,new_state,createTime",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        660,
        40
      ],
      "id": "9d6ec3f7-6a69-46da-8d52-547f126c91c0",
      "name": "事件日志记录表",
      "credentials": {
        "mongoDb": {
          "id": "uKpjr544WS3Oo6zh",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.createTime }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "createTime",
        "options": {
          "includeInputFields": true,
          "timezone": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        440,
        40
      ],
      "id": "79afb415-75ca-45ca-b932-82234c4f3f76",
      "name": "时间格式"
    }
  ],
  "pinData": {
    "监听HA所有事件": [
      {
        "json": {
          "event_type": "state_changed",
          "data": {
            "entity_id": "switch.topwit_cn_1083215870_rzw45_on_p_3_1",
            "old_state": {
              "entity_id": "switch.topwit_cn_1083215870_rzw45_on_p_3_1",
              "state": "off",
              "attributes": {
                "device_class": "switch",
                "friendly_name": "走廊开关2  射灯 中键"
              },
              "last_changed": "2025-06-27T14:46:54.580934+00:00",
              "last_reported": "2025-06-27T14:46:55.581517+00:00",
              "last_updated": "2025-06-27T14:46:54.580934+00:00",
              "context": {
                "id": "01JYRXP5BM5RQEZ4BYT360Y2V4",
                "parent_id": null,
                "user_id": null
              }
            },
            "new_state": {
              "entity_id": "switch.topwit_cn_1083215870_rzw45_on_p_3_1",
              "state": "on",
              "attributes": {
                "device_class": "switch",
                "friendly_name": "走廊开关2  射灯 中键"
              },
              "last_changed": "2025-07-01T09:45:51.213748+00:00",
              "last_reported": "2025-07-01T09:45:51.213748+00:00",
              "last_updated": "2025-07-01T09:45:51.213748+00:00",
              "context": {
                "id": "01JZ2P1SBDZC6VY4W7YHPNDSVQ",
                "parent_id": null,
                "user_id": null
              }
            }
          },
          "origin": "LOCAL",
          "time_fired": "2025-07-01T09:45:51.213748+00:00",
          "context": {
            "id": "01JZ2P1SBDZC6VY4W7YHPNDSVQ",
            "parent_id": null,
            "user_id": null
          },
          "timestamp": "2025-07-01T09:45:51.222Z"
        }
      }
    ],
    "处理事件名称状态等": [
      {
        "json": {
          "createTime": "2025-07-01T09:45:51.222Z",
          "friendly_name": "走廊开关2 射灯 中键",
          "device_name": "走廊开关2",
          "device_type": "射灯",
          "device_event": "中键",
          "entity_id": "switch.topwit_cn_1083215870_rzw45_on_p_3_1",
          "old_state": "off",
          "new_state": "on",
          "source_json": "{\"event_type\":\"state_changed\",\"data\":{\"entity_id\":\"switch.topwit_cn_1083215870_rzw45_on_p_3_1\",\"old_state\":{\"entity_id\":\"switch.topwit_cn_1083215870_rzw45_on_p_3_1\",\"state\":\"off\",\"attributes\":{\"device_class\":\"switch\",\"friendly_name\":\"走廊开关2  射灯 中键\"},\"last_changed\":\"2025-06-27T14:46:54.580934+00:00\",\"last_reported\":\"2025-06-27T14:46:55.581517+00:00\",\"last_updated\":\"2025-06-27T14:46:54.580934+00:00\",\"context\":{\"id\":\"01JYRXP5BM5RQEZ4BYT360Y2V4\",\"parent_id\":null,\"user_id\":null}},\"new_state\":{\"entity_id\":\"switch.topwit_cn_1083215870_rzw45_on_p_3_1\",\"state\":\"on\",\"attributes\":{\"device_class\":\"switch\",\"friendly_name\":\"走廊开关2  射灯 中键\"},\"last_changed\":\"2025-07-01T09:45:51.213748+00:00\",\"last_reported\":\"2025-07-01T09:45:51.213748+00:00\",\"last_updated\":\"2025-07-01T09:45:51.213748+00:00\",\"context\":{\"id\":\"01JZ2P1SBDZC6VY4W7YHPNDSVQ\",\"parent_id\":null,\"user_id\":null}}},\"origin\":\"LOCAL\",\"time_fired\":\"2025-07-01T09:45:51.213748+00:00\",\"context\":{\"id\":\"01JZ2P1SBDZC6VY4W7YHPNDSVQ\",\"parent_id\":null,\"user_id\":null},\"timestamp\":\"2025-07-01T09:45:51.222Z\"}"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Shanghai",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "createdAt": "2025-07-01T02:53:47.837Z",
      "updatedAt": "2025-07-01T02:53:47.837Z",
      "role": "workflow:owner",
      "workflowId": "eBnmDC2c5uDSHWTb",
      "projectId": "BeX3bor8ts20lbDK"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-06-26T06:14:33.448Z",
      "updatedAt": "2025-06-26T06:14:33.448Z",
      "id": "FHV017iDd8qf8jAL",
      "name": "智能家居"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-07-11T03:54:38.000Z",
  "versionId": "97782e06-d8dc-4e53-b32d-b60e98e58c04"
}