workflows/智能家居/o1NXH65YIh37CIed.json
{
  "active": true,
  "connections": {
    "接收中枢虚拟事件": {
      "main": [
        [
          {
            "node": "必要字段",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "必要字段": {
      "main": [
        [
          {
            "node": "具体事件判断",
            "type": "main",
            "index": 0
          },
          {
            "node": "\"HA_\"事件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "具体事件判断": {
      "main": [
        [
          {
            "node": "全局变量处理",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "电脑Wol网络唤醒",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\"HA_\"事件": {
      "main": [
        [
          {
            "node": "钉钉通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "全局变量处理": {
      "main": [
        [
          {
            "node": "保存SQLite临时表",
            "type": "main",
            "index": 0
          },
          {
            "node": "保存到SQLite",
            "type": "main",
            "index": 0
          },
          {
            "node": "保存到Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存到SQLite": {
      "main": [
        []
      ]
    },
    "保存SQLite临时表": {
      "main": [
        [
          {
            "node": "触发通知-子流程",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存到Supabase": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-07-03T09:20:18.575Z",
  "id": "o1NXH65YIh37CIed",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "接收中枢虚拟事件",
  "nodes": [
    {
      "parameters": {
        "entityId": "event.xiaomi_cn_1079853347_hub1_virtual_event_e_4_1"
      },
      "type": "n8n-nodes-home-assistant-websocket.homeAssistantTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        64
      ],
      "id": "841c99f0-c59e-4f26-b4fe-66f4af34ce6f",
      "name": "接收中枢虚拟事件",
      "credentials": {
        "homeAssistantWebSocketApi": {
          "id": "7wjNw4sXPpob9vXk",
          "name": "Home Assistant WebSocket account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db9b0700-2d67-4ae7-87e5-8930c280ecdc",
              "name": "event_type",
              "value": "={{ $json.data.new_state.attributes.event_type }}",
              "type": "string"
            },
            {
              "id": "8e4368aa-ea08-497b-949f-96f3629fe30c",
              "name": "event_name",
              "value": "={{ $json.data.new_state.attributes['事件名称'] }}",
              "type": "string"
            },
            {
              "id": "7f90a8c3-e19d-4a3c-b8a4-f771198ad6b2",
              "name": "creat_time",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            },
            {
              "id": "5d4b5761-34ae-4ee4-a9e0-5fe616d6db2d",
              "name": "friendly_name",
              "value": "={{ $json.data.new_state.attributes.friendly_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        64
      ],
      "id": "b5147c52-b458-4cbe-86ed-8b4dee9528e5",
      "name": "必要字段"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4tHTAEVO9ryUxOhn",
          "mode": "list",
          "cachedResultName": "sub-钉钉通知"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "msgtype": "text",
            "content": "={{ $json.event_type }} : {{ $json.event_name }}",
            "name": "={{ $workflow.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "msgtype",
              "displayName": "msgtype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        656,
        -128
      ],
      "id": "24beb4d6-db30-4ce4-96e9-39ced468bb00",
      "name": "钉钉通知"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QnNHeu50JZe32GSw",
          "mode": "list",
          "cachedResultName": "电脑Wol网络唤醒"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        656,
        256
      ],
      "id": "c2999fa4-8367-4f8e-bce0-872511a60a5b",
      "name": "电脑Wol网络唤醒"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_name }}",
                    "rightValue": "HA_全局变量",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "9014a8a0-9522-4b97-9136-3e5e6997042a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c45c396e-f194-493c-bda8-cf3997e0eab2",
                    "leftValue": "={{ $json.event_name }}",
                    "rightValue": "HA_打开.书房电脑",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        432,
        160
      ],
      "id": "fa7d110e-9543-4a40-ae26-56c2cbc692e4",
      "name": "具体事件判断"
    },
    {
      "parameters": {
        "content": "## \"HA_\"事件\n- 排除\"HA_全局变量\"\n## 具体事件判断\n- 0.全局变量\n- 1.打开书房电脑",
        "height": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        48
      ],
      "typeVersion": 1,
      "id": "50ea6ca2-ec2c-4228-96f2-88876b362811",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb1bfd4f-3d0f-4853-b3a7-347a75588868",
              "leftValue": "={{ $json.event_name }}",
              "rightValue": "HA_",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "805f7896-4e06-4561-a1fe-30e30645af12",
              "leftValue": "={{ $json.event_name }}",
              "rightValue": "HA_全局变量",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        -128
      ],
      "id": "6a6e9237-75fd-42d0-962b-05ea25f7621a",
      "name": "\"HA_\"事件"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {  \n  const data = item.json;\n  // 事件名称\n  let event_name = data.event_name;\n  // 去除前缀\n  const rawString = event_name.replace(/^HA_全局变量-/, '');\n  // 拆分为键值对对象\n  const dataMap = {};\n  rawString.split('|').forEach(pair => {\n    const [key, value] = pair.split(':').map(s => s.trim());\n    dataMap[key] = isNaN(value) ? value : Number(value);\n  });\n  \n  const pad = (n) => n.toString().padStart(2, '0');\n  const now = new Date(data.creat_time);\n  dataMap['时间'] = `${now.getFullYear()}-${pad(now.getMonth() + 1)}-${pad(now.getDate())} ${pad(now.getHours())}:${pad(now.getMinutes())}:${pad(now.getSeconds())}`;\n  \n  dataMap['源数据'] = data.event_name;\n\n  const keys = Object.keys(dataMap);\n\n  let result = {\n    keys,\n    ...dataMap,\n  }\n  \n  return { json: result };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        64
      ],
      "id": "0aeb7359-b270-4db9-bbe5-0a10f5019b96",
      "name": "全局变量处理"
    },
    {
      "parameters": {
        "db_path": "/files/database/home-assistant.db",
        "query_type": "INSERT",
        "query": "=INSERT INTO global_variables ({{ $json.keys.map(item => `\\`${item}\\``).join(\", \") }}) \nVALUES ({{ $json.keys.map(item => `$${item}`).join(\", \") }})",
        "args": "={{Object.fromEntries(Object.entries($json).map(([key, value]) => [`$${key}`, value])).toJsonString() }}\n"
      },
      "type": "n8n-nodes-sqlite3.sqliteNode",
      "typeVersion": 1,
      "position": [
        880,
        64
      ],
      "id": "d0f84c78-28cb-4dce-ba55-37e8f93aa58c",
      "name": "保存到SQLite",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "db_path": "/files/database/home-assistant.db",
        "query_type": "INSERT",
        "query": "=INSERT INTO global_variables_temp ({{ $json.keys.map(item => `\\`${item}\\``).join(\", \") }}) \nVALUES ({{ $json.keys.map(item => `$${item}`).join(\", \") }})",
        "args": "={{Object.fromEntries(Object.entries($json).map(([key, value]) => [`$${key}`, value])).toJsonString() }}\n"
      },
      "type": "n8n-nodes-sqlite3.sqliteNode",
      "typeVersion": 1,
      "position": [
        880,
        256
      ],
      "id": "58ce020e-20ea-411a-ba6f-551795301f28",
      "name": "保存SQLite临时表",
      "executeOnce": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HzX7RQwnAmi0BSgQ",
          "mode": "list",
          "cachedResultName": "HA全局变量-定时通知"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1104,
        256
      ],
      "id": "49c6f62c-4d95-4521-ac5c-54fb3d564a93",
      "name": "触发通知-子流程"
    },
    {
      "parameters": {
        "tableId": "global_variables",
        "dataToSend": "autoMapInputData",
        "inputsToIgnore": "keys"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        -128
      ],
      "id": "b92bd97a-b46c-4900-be1c-bb0fcb561d80",
      "name": "保存到Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "f2MsmmkDHIEOKF31",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "vI7EThg6H9bW1f4v"
  },
  "shared": [
    {
      "createdAt": "2025-07-03T09:20:18.608Z",
      "updatedAt": "2025-07-03T09:20:18.608Z",
      "role": "workflow:owner",
      "workflowId": "o1NXH65YIh37CIed",
      "projectId": "BeX3bor8ts20lbDK"
    }
  ],
  "staticData": {
    "global": {
      "variableData": null
    },
    "node:30分钟一次": {
      "recurrenceRules": []
    },
    "node:定时变量日志": {
      "recurrenceRules": [
        10
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2025-06-26T06:14:33.448Z",
      "updatedAt": "2025-06-26T06:14:33.448Z",
      "id": "FHV017iDd8qf8jAL",
      "name": "智能家居"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-01T09:12:48.000Z",
  "versionId": "644f163c-f227-4a40-8f66-cada4a1d84eb"
}